body{
    font-family:'Poppins',sans-serif;
    background-color:#f4f4f4;
    padding:20px;
}

#mainHeader{
    text-align:center;
    color:#0056b3;
    margin-bottom:30px;
}

h2{
    font-size:32px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
    text-align:center;
    color:#0056b3;
}

.description{
    font-size:18px;
    font-style:italic;
    font-weight:400;
    text-align:justify;
    line-height:1.8;
    letter-spacing:1px;
    color:#333;
}

.eventCard{
    background:white;
    padding:20px;
    border-radius:8px;
}