body{
    font-family:Arial,sans-serif;
    padding:20px;
}

h1{
    text-align:center;
    color:#0056b3;
}

.eventCard{
    border:2px solid #0056b3;
    padding:20px;
    margin:20px 0;
    background-color:#f4f4f4;
}

input{
    padding:10px;
    border:1px solid #ccc;
    outline:2px solid orange;
}

.hiddenBox{
    visibility:hidden;
    background-color:lightblue;
    padding:15px;
    margin-top:20px;
}

.noneBox{
    display:none;
    background-color:lightgreen;
    padding:15px;
    margin-top:20px;
}